<!DOCTYPE html>
<html lang="en">
<body>
Hi {{ first_name|capfirst }},
<p>
We are happy to introduce <b>Let's Train</b>, the online portal for all trainings at GreyOrange. 
</p>
Please use the following URL to login : <a href="http://letstrain.com">http://letstrain.com</a>
<p>
Below are your credentials to access the site:
	<tr>
		<td>Username</td><td>{{ username }}</td>
	</tr>
	<tr>
		<td>Password</td><td>{{ password }}</td>
	</tr>
</p>
Request all of you to please explore <b>Let's Train – A step towards learning.</b>
</body>
</html>